.apps
  .container
    .app-icons
      .app-icon
        img(src='assets/Ray_Apps_Kids_Optimized.png')
      .app-icon
        img(src='assets/Ray_Apps_BoTV_Optimized.png')
      .app-icon
        img(src='assets/Ray_Apps_Sports_Optimized.png')

    .blurb
      h2 Watch all the TV you love with our family of apps.
      p Track all your favorite teams in one centralized place with the Sports App. Touchdowns, free throws, and penalty kicks will all finally come together in your own personal arena.

    .static-ray
      img(src='assets/Ray_Apps_Optimized.png')