.apps
  video.video-ray.hide-mobile(src='assets/app_video.mp4' autoplay loop)
  .container
    .app-icons.hide-mobile
      .app-icon
        img(src='assets/Ray_Apps_Kids_Optimized.png')
      .app-icon.botv
        img(src='assets/Ray_Apps_BoTV_Optimized.png')
      .app-icon
        img(src='assets/Ray_Apps_Sports_Optimized.png')

    .blurb
      h2 Apps, making relaxing easy.
      p With it’s suite of signature apps designed around TV everyone is sure to love, finding something to watch is simply a breeze. Kids, Best of TV and Sports are all designed to help you find that “perfect” show to kick back and relax with.

    .static-ray.hide-desktop.hide-tablet-landscape.show-mobile
      img(src='assets/Ray_Apps_Optimized.png')
