.apps
  .container
    .app-icons
      .app-icon
      .app-icon
      .app-icon

    .blurb
      h3 Watch all the TV you love with our family of apps.
      p Track all your favorite teams in one centralized place with the Sports App. Touchdowns, free throws, and penalty kicks will all finally come together in your own personal arena.