.background-video
  video(src='assets/hero.ogv' autoplay loop)
  .container
    .ces-logo.hide-mobile
      img(src='assets/CES_Honoree_Large.png')
    h1 Ray Super Remote
    .intro The ultimate touchscreen universal remote control. Tap, swipe, and discover the future of TV.
    .controls
      .btn.filled.buy Buy Now for $249
      .btn.text-white.video
          .fa.fa-play-circle
          | Watch Video

  .fullscreen-video
    .overlay
    .video-container
      iframe(src="https://www.youtube.com/embed/5mat-MiKsEY" frameborder="0" allowfullscreen)
    .fa.fa-close
