.background-video
  .container
    .ces-logo
    h1 Ray Super Remote
    .intro The ultimate touchscreen universal remote control. Tap, swipe, and discover the future of TV.
    .controls
      .btn.filled.buy Buy Now for $249
      .btn.text-white.video
          .fa.fa-play
          | Watch Video