.gallery-and-buzz
  .container
    h2 Gallery and Social Buzz

    .gallery-container
      .gallery-item.image-item
        img
      .gallery-item.image-item
        img
      .gallery-item.quote-item
        img
        .username @Giordanobc
        .quote This is magic. Turned it on. 5 mins set-up, now controls all my devices. No other hardware required. It just works.
        .fa.fa-twitter
      .gallery-item.image-item
        img
      .gallery-item.quote-item
        img
        .username @Drewg
        .quote @RaySuperRemote First impression last night, you began healing a lifetime of disappointment in universal remotes.
        .fa.fa-twitter
      .gallery-item.image-item
        img
      .gallery-item.image-item
        img
      .gallery-item.image-item
        img
      .gallery-item.image-item
        img

    .btn.hide-desktop.show-mobile Load More
