.press
  .container
    h3 Press and Reviews
    
    .reviews
      .sources
        .source
        .source
        .source
        .source.active
        .source

      .review "The Ray Super Remote want's to declutter your coffee table and become the central nervous system of all your home entertainment systems."

    .remote