.press
  .container
    h2 Press and Reviews

    .reviews.desktop.hide-mobile
      .sources

      .desktop-review-container
        .review

    .reviews.mobile.hide-desktop.hide-tablet-landscape.show-mobile
      .scrollable-container
        .scrollable
      .carousel-indicator

    .remote
      img(src='assets/Ray_Press_Sideview_Optimized.png')
