.press
  .container
    h2 Press and Reviews
    
    .reviews
      .sources
        .source
          img(src='assets/Press_Wired_Optimized.png')
        .source
          img(src='assets/Press_Recode_Optimized.png')
        .source
          img(src='assets/Press_TechCrunch_Optimized.png')
        .source
          img(src='assets/Press_NYT_Optimized.png')
        .source
          img(src='assets/Press_Adweek_Optimized.png')

      .review "The Ray Super Remote want's to declutter your coffee table and become the central nervous system of all your home entertainment systems."

    .remote
      img(src='assets/Ray_Press_Sideview_Optimized.png')