.sales
  .container
    .blurb
      h1 $249
      p Because watching TV should be the reward at the end of the day, not a chore.
      a.btn.filled Buy Now
    .ray-back-container
      .ray-back
        img(src='assets/Ray_Back_Optimized.png')
    .ice-cream.hide-mobile
      img(src='assets/Ray_Ice_Cream_Optimized.png')
