.search-and-discovery
  .container
    .right-side-background
    .right.phone
      img
    .left.phone
      img
    .right.blurb
      h3 Search for any show or channel.
      p Easy search and access to all your favorites. It's just one tap to swtich between all your favorites.
      a.text.arrow.primary-color Learn About Search
    .left.blurb
      h3 Always find something great to watch.
      p Leveraging a powerful recommendation engine, Ray learns what you like and helps you find what to watch.
      a.text.arrow.primary-color Learn About Discovery
