.search-and-discovery
  .container
    .right-side-background
    .right.phone
      img(src='assets/Ray_Search_Optimized.png')
    .left.phone
      img(src='assets/Ray_Discovery_Optimized.png')
    .right.blurb
      h2 Search for<br>any show<br>or channel.
      p Easy search and access to all your favorites. It's just one tap to swtich between all your favorites.
      a.text.arrow.primary-color Learn About Search
    .left.blurb
      h2 Always find something great to watch.
      p Leveraging a powerful recommendation engine, Ray learns what you like and helps you find what to watch.
      a.text.arrow.primary-color Learn About Discovery
