.setup
  .container
    .ray-sample
      video(src='assets/setup.mp4' autoplay loop)
      img(src='assets/ray_outline.png')
    .info-container
      h2 The fastest universal remote control set.
      .advantages
        .advantage
          p Connect Ray to your equipment in minutes.
          .image-container
            img(src='assets/ICON_Watch_Optimized.png')
        .advantage
          p No computer or cables needed for setup.
          .image-container
            img(src='assets/ICON_Cord_Optimized.png')
        .advantage
          p Our guided setup means anyone can easily set up Ray.
          .image-container
            img(src='assets/ICON_Compass_Optimized.png')
      a.text.arrow.primary-color(href='https://www.ray.co/ray-super-remote/setup')
        | Learn About Setup
        .fa.fa-long-arrow-right
