.setup
  .container
    .ray-sample
      video(src='assets/Easy_setup_S.mp4' autoplay loop)
      img(src='assets/ray_outline.png')
    .info-container
      h2 The fastest universal remote control setup.
      .advantages
        .advantage
          p Connect Ray to your equipment in minutes.
          .image-container
            img(src='assets/ICON_Watch_Optimized.png')
        .advantage
          p Go cord free. Ray is ready to set up out of the box.
          .image-container
            img(src='assets/ICON_Cord_Optimized.png')
        .advantage
          p Our guided setup means you can get up and running without a computer.
          .image-container
            img(src='assets/ICON_Compass_Optimized.png')
      a.text.arrow.primary-color(href='https://www.ray.co/ray-super-remote/setup')
        | Learn About Setup
        .fa.fa-long-arrow-right
