.universal-remote
  .container
    img.ray-stack(src='assets/ray_stack.png')
    h2 The only remote you need.
    p Ray replaces your jumble of old remotes in one intelligent package. With Ray, a simple tap seamlessly switches between any of your entertainment devices. Controlling and managing your entertainment setup has never been this easy.
    a.text.arrow View Tech Specs
    .device-finder-container
      h3 Ray works with thousands of devices.
      .devices
        .device
          .image-container
            img(src='assets/devices/STB.svg')
          .name Set Top Box
        .device
          .image-container
            img(src='assets/devices/TV.svg')
          .name TV
        .device
         .image-container
            img(src='assets/devices/Reciever.svg')
          .name Receiver
        .device
          .image-container
            img(src='assets/devices/Roku.svg')
          .name Roku
        .device
          .image-container
            img(src='assets/devices/Soundbar.svg')
          .name Soundbar
        .device
          .image-container
            img(src='assets/devices/DVD_BluRay.svg')
          .name DVD & BluRay
        .device
          .image-container
            img(src='assets/devices/Media_Player.svg')
          .name Media Player
        .device
          .image-container
            img(src='assets/devices/AppleTV.svg')
          .name Apple TV
        .device
          .image-container
            img(src='assets/devices/Xbox.svg')
          .name Xbox
      .device-finder
        h3 Are your devices a match?
        .input-container
          input(placeholder='Search for compatible brands & devices' type='text')
          .fa.fa-search
        a.text.arrow.primary-color More Devices