.universal-remote
  .container
    img.ray-stack(src='assets/ray_stack.png')
    h2 The only remote you need.
    p Ray replaces your jumble of old remotes in one intelligent package. With Ray, a simple tap seamlessly switches between any of your entertainment devices. Controlling and managing your entertainment setup has never been this easy.
    a.text.arrow
      | View Tech Specs
      .fa.fa-long-arrow-right
    .device-finder-container
      h3 Ray works with thousands of devices.
      .devices
        .scrollable
      .carousel-indicator.hide-desktop.hide-tablet-landscape.show-mobile
      .device-finder
        h3 Are your devices a match?
        .input-container
          input(placeholder='Search for compatible brands & devices' type='text')
          .fa.fa-search
        a.text.arrow.primary-color
          | More Devices
          .fa.fa-long-arrow-right
