doctype
html
  head
    link(rel='stylesheet' href='vendor/font-awesome.min.css')
    link(rel='stylesheet' href='styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
  body
    != partial('views/_nav')
    != yield
    != partial('views/_footer')
    != partial('views/_postFooter')
    script(src='vendor/jquery-1.11.3.min.js')
    script(src='scripts/nav.js')
    script(src='scripts/backgroundVideo.js')
    script(src='scripts/universalRemote.js')
    script(src='scripts/press.js')
    script(src='scripts/gallery.js')
