doctype
html
  head
    link(rel='stylesheet' href='vendor/font-awesome.min.css')
    link(rel='stylesheet' href='styles/main.css')
  body
    != partial('views/_nav')
    != yield
    != partial('views/_footer')
    != partial('views/_postFooter')