.footer
  .container
    .footer-container.logo
      .logo Ray
    .footer-container.company
      .label The Company
      a About Us
      a Careers
      a Ray Pro
      a Press
    .footer-container.orders
      .label Orders
      a Order Status
      a Compatability
    .footer-container.social
      .label Follow Us
      a
        .fa.fa-twitter
        | Twitter
      a
        .fa.fa-facebook
        | Facebook
      a
        .fa.fa-linkedin
        | LinkedIn
      a.subscribe Subscribe to Newsletter
    .footer-container.contact
      .label We're Here To Help
      .btn.text-white Leave a Message
      .left-container
        div
          | Toll Free
          fa.fa-phone
        div Mon - Fri
        div Weekends
      .right-container
        div (888) 966 8780
        div 9-5 PM PST
        div Closed

.footer-bottom
  .container
    span @2014 Ray Enterprises - All rights reserved
    a Security
    A Legal