.footer-desktop.hide-mobile
  .container
    .footer-container.logo
      .logo Ray
    .left-footer-container
      .footer-container.company
        .label The Company
        a(href='https://ray.co/about') About Us
        a(href='https://ray.co/about/careers') Careers
        a(href='https://ray.co/pro') Ray Pro
        a(href='https://ray.co/reviews') Press
      .footer-container.orders.hide-tablet-landscape
        .label Orders
        a(href='https://account.ray.co') Order Status
        a(href='https://ray.co/compatibility') Compatibility
      .footer-container.social
        .label Follow Us
        a(href='https://twitter.com/raysuperremote')
          .fa.fa-twitter
          | Twitter
        a(href='https://www.facebook.com/pages/Ray-Super-Remote/1418427895116333')
          .fa.fa-facebook
          | Facebook
        a(href='https://www.linkedin.com/company/ray')
          .fa.fa-linkedin
          | LinkedIn
        a.subscribe(href='https://www.ray.co/newsletter') Subscribe to Newsletter
      .footer-container.orders.hide-desktop
        .label Orders
        a(href='https://account.ray.co') Order Status
        a(href='https://ray.co/compatibility') Compatability
    .right-footer-container
      .footer-container.contact
        .label We're Here To Help
        .btn.text-white Leave a Message
        .left-container
          div Toll Free
          div Mon - Fri
          div Weekends
        .right-container
          div
            .fa.fa-phone
            | (888) 966 8780
          div 9-5 PM PST
          div Closed

.footer-mobile.hide-desktop.hide-tablet-landscape.show-mobile
  .container
    .contact
      .label We're Here To Help
      .btn.text-white Chat Now
      .btn.text-white
        .fa.fa-phone
        | Call Toll Free
      .left-container
        div Mon - Fri
        div Weekends
      .right-container
        div 9-5 PM PST
        div Closed
    .company
      .label The Company
      a(href='https://ray.co/about') About Us
        a(href='https://ray.co/about/careers') Careers
        a(href='https://ray.co/pro') Ray Pro
        a(href='https://ray.co/reviews') Press
    .orders
      .label Orders
      a(href='https://account.ray.co') Order Status
      a(href='https://ray.co/compatibility') Compatability
    .social
      .label Follow Us
      a.fa.fa-twitter(href='https://twitter.com/raysuperremote')
      a.fa.fa-facebook(href='https://www.facebook.com/pages/Ray-Super-Remote/1418427895116333')
      a.fa.fa-linkedin(href='https://www.linkedin.com/company/ray')
    .subscribe
      a(href='https://www.ray.co/newsletter') Subscribe to Newsletter

.footer-bottom
  .container
    span @2014 Ray Enterprises - All rights reserved
    a(href='https://www.ray.co/legal/privacy-policy') Security
    a(href='https://www.ray.co/legal/terms-of-use') Legal
