.nav
  .container
    a.logo Ray
    .links
      a.link Compatibility
      a.link Tech Specs
      a.link Gallery
      a.link Reviews & Press
      a.link Help
    .buy.btn Buy Now for $199
    .buy.btn.show-mobile Buy Now
    .fa.fa-bars
