.nav
  .container
    a.logo(href='https://www.ray.co') Ray
    .links
      a.link(href='https://www.ray.co/compatibility') Compatibility
      a.link(href='https://www.ray.co/ray-super-remote/tech') Tech Specs
      a.link(href='https://www.ray.co/gallery') Gallery
      a.link(href='https://www.ray.co/reviews') Reviews & Press
      a.link(href='https://www.ray.co/help') Help
    .buy.btn Buy Now for $199
    .buy.btn.show-mobile Buy Now
    .fa.fa-bars
  .links-dropdown.hide-desktop.hide-tablet-landscape.show-tablet-portrait
    .container
      a.link(href='https://www.ray.co/compatibility') Compatibility
      a.link(href='https://www.ray.co/ray-super-remote/tech') Tech Specs
      a.link(href='https://www.ray.co/gallery') Gallery
      a.link(href='https://www.ray.co/reviews') Reviews & Press
      a.link(href='https://www.ray.co/help') Help
