.post-footer
  .container
    .inverted-ray
      img(src='assets/Ray_Inverted_Optimized.png')
    h1 Hasta la vista, baby!
    .block
      p We're designers.
      p We're do'ers. We're humans, not robots.
      p (promise.) We're here to help.
    .block
      p Ray is growing, changing, and evolving,
      p and your input is the best way we can make it better.
    .line
    .contact-label Drop us a line, we would love to hear from you.
    .contact
      a 1-888-966-8780
      a Hello@Ray.co
    .hand
      img(src='assets/Ray_Overscroll_Hand_Optimized.png')