.apps
  background url('../../assets/Apps_BG.jpg')
  color $white
  
  .container
    padding 100px
    position relative
    overflow hidden
    
    .app-icons
      margin-top 50px
      
      .app-icon
        display inline-block
        margin-right 30px
        width 60px
        height 60px
        
        img
          width 100%
        
    .blurb
      margin-top 70px
      width 50%
      
    .static-ray
      position absolute
      bottom -170px
      height 750px
      right -50px
      
      img
        height 100%