.apps
  background url('../../assets/Apps_BG.jpg')
  color $white
  overflow hidden

  .container
    padding 100px
    position relative

    @media $tabletLandscapeBreakpoint
      padding 75px 100px

    @media $tabletPortraitBreakpoint
      padding 75px

    .app-icons
      margin-top 50px

      .app-icon
        display inline-block
        margin-right 30px
        width 60px
        height 60px

        img
          width 100%

    .blurb
      margin-top 70px
      width 50%

      @media $tabletLandscapeBreakpoint
        margin-top 30px
        width 35%

      @media $tabletPortraitBreakpoint
        width 45%

      @media $mobileBreakpoint
        text-align center
        width 100%
        max-width 300px

    .static-ray
      position absolute
      bottom -170px
      height 750px
      right -50px

      @media $tabletLandscapeBreakpoint
        right -150px

      @media $tabletPortraitBreakpoint
        right -220px

      @media $mobileBreakpoint
        position relative
        right auto
        bottom auto
        margin-bottom -320px
        left -55px

      img
        height 100%
