.background-video
  background-color $black
  color $white
  margin-top 60px
  position relative
  text-align center

  video
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    z-index -1

  .container
    padding 200px 0

    @media $tabletPortraitBreakpoint
      padding 100px 0

    h1
      margin-top 0
      margin-bottom 20px

    .intro
      font-family Roboto
      font-weight 300
      font-size 28px
      font-size 1.4em
      line-height 1.55em
      margin 0 auto
      max-width 620px

      @media $mobileBreakpoint
        font-size 1.1em
        max-width 280px

    .controls
      display inline-block
      margin-top 30px
      text-align center

      .btn
        display inline-block
        margin 0 10px
        position relative

        @media $mobileBreakpoint
          display block
          margin 20px auto

        &.video
          padding-left 25px

          .fa
            border-radius 100px
            background-color $white
            color $brand-primary
            font-size 23px
            height 20px
            left 10px
            line-height 20px
            position absolute
            top 10px
            width 20px
