$text-color = #43484F

.press
  .container
    text-align center
    padding 120px 0 50px

  .reviews
    margin-top 30px

    .sources
      margin 0 auto 50px
      height 20px
      text-align center

      @media $mobileBreakpoint
        margin-top 50px

      .source
        cursor pointer
        display inline-block
        height 100%
        padding 0 40px 10px

        @media $tabletPortraitBreakpoint
          padding 0 20px 10px

        &.active
          border-bottom 2px solid $brand-secondary

        img
          height 100%

    .desktop-review-container
      height 200px

      .review
        color $text-color
        font-size 28px
        font 300 1.4em/1.4em RobotoSlab
        margin 0 auto
        max-width 700px
        position relative
        top 50%
        transform translateY(-50%)

        @media $tabletLandscapeBreakpoint
          max-width 550px

        @media $mobileBreakpoint
          max-width 400px

    &.mobile
      .scrollable-container
        height 250px
        width 100%
        overflow-x auto

        .scrollable
          height 100%

          .review-container
            float left
            width 480px
            position relative
            top 50%
            transform translateY(-50%)

            .icon
              height 20px
              margin 10px 0 50px

              img
                height 100%

      .carousel-indicator
        height 40px

        .dot
          border 1px solid $gray-light
          border-radius 100px
          display inline-block
          height 10px
          margin 0 5px
          width 10px

          &.active
            background-color $brand-primary



  .remote
    max-width 1000px
    height 200px
    margin 0 auto

    @media $tabletPortraitBreakpoint
      margin-top 30px

    img
      float left
      width 100%
