$text-color = #43484F

.press
  .container
    text-align center
    padding 120px 0 50px

  .reviews
    margin-top 30px

    .sources
      margin 0 auto 50px
      height 20px
      text-align center

      .source
        box-sizing border-box
        display inline-block
        height 100%
        padding 0 20px

        img
          height 100%

    .review
      color $text-color
      font-size 28px
      font 300 1.4em/1.4em Roboto
      margin 0 auto
      max-width 700px

      @media $tabletLandscapeBreakpoint
        max-width 550px

  .remote
    max-width 1000px
    height 200px
    margin 0 auto

    @media $tabletPortraitBreakpoint
      margin-top 30px

    img
      float left
      width 100%
