.sales
  background-color $black
  color $white

  .container
    padding 100px 0 50px
    position relative

    .blurb
      max-width 350px
      margin-left 60%
      
      h2
        margin 0
        
      p
        margin 0 0 20px
        font-size 28px
        font-size 1.4em
      
    .ice-cream
      border 1px solid purple
      position absolute
      left -50px
      top -100px
      height 300px
      width 300px