.setup
  background-color $black
  color $white
  text-align center

  .container
    padding 50px 0
    
    .info-container
      display inline-block
      margin-left 500px
      max-width 330px
      text-align left
      
      h3
        line-height 1.2em
        
      .advantages
        margin-bottom 25px
        
        .advantage
          display table-row
          margin-bottom 30px
          
          p
            display table-cell
            padding 15px 0
            vertical-align middle
          
          .image-container
            display table-cell
            width 100px
            text-align right
            vertical-align middle

            img
              border 2px solid $white
              border-radius 100px
              height 50px
              width 50px
