.universal-remote
  background-color $brand-primary
  color $white
  text-align center

  .container
    padding 50px 30px 30px

    img.ray-stack
      height 500px

      @media $tabletPortraitBreakpoint
        height 400px

      @media $mobileBreakpoint
        height 243px

    h2
      margin 0 0 10px

    p
      margin 0 auto 25px
      max-width 600px

      @media $mobileBreakpoint
        max-width 375px

    .device-finder-container
      background-color $white
      border-radius 5px
      box-sizing border-box
      color $black
      margin 60px auto 0
      max-width 1000px
      padding 30px 0

      h3
        margin 20px auto 20px
        max-width 250px

      .devices
        font-size 0
        padding 0 50px 50px
        text-align left
        overflow-x auto

        .scrollable
          @media $mobileBreakpoint
            width 2930px

          .device
            display inline-block
            font-size 20px
            height 30px
            text-align center
            width 20%

            @media $mobileBreakpoint
              width 320px

            .image-container
              height 50px
              margin-top 25px

            .name
              font-size 12px
              font .6em Roboto
              font-weight bold
              line-height 1em

              @media $mobileBreakpoint
                font-size 16px
                font 400 .8em Roboto

      .carousel-indicator
        height 40px

        .dot
          border 1px solid $gray-light
          border-radius 100px
          display inline-block
          height 10px
          margin 0 5px
          width 10px

          &.active
            background-color $brand-primary

      .device-finder
        border-top 1px solid $gray-lighter
        padding 50px 150px

        @media $tabletPortraitBreakpoint
          padding 50px

        h3
          margin 0 auto

        .input-container
          position relative
          margin 30px 0 40px

          input
            font 100 1em Roboto
            border 1px solid $gray-light
            box-sizing border-box
            padding 10px 10px
            width 100%

          .fa.fa-search
            color $gray-light
            position absolute
            right 12px
            top 12px

        a
          margin-top 0
