@font-face
  font-family RobotoThin
  src url(../fonts/Roboto-Thin.ttf)
  
@font-face
  font-family RobotoLight
  src url(../fonts/RobotoLight.ttf)

@font-face
  font-family RobotoSlabRegular
  src url(../fonts/RobotoSlab-Regular.ttf)
  
@font-face
  font-family HelveticaNeueLight
  src url(../fonts/HelveticaNeue-Light.otf)
  
@font-face
  font-family RobotoRegular
  src url(../fonts/RobotoRegular.ttf)