$alt-text-color = lighten($gray-light, 20)

.footer
  background-color $gray-light
  color $white
  height 350px
  
  .container
    padding 80px 30px
    position relative

    .footer-container
      float left
      
      .label
        font 500 .9em Roboto
        color $alt-text-color
        text-transform uppercase
        
      a
        font .8em Roboto
        display block
        margin-top 15px
        
        .fa
          color $alt-text-color
          display inline-block
          font-size 16px
          font-size .8em
          margin-right 5px
          width 20px
      
      &.logo
        width 80px
        
        .logo
          background-color $white
          color $gray-light
          border-radius 100%
          width 60px
          height 60px
          text-align center
          font-size 22px
          font-size 1.1em
          line-height 57px
        
      &.company, &.orders, &.social
        width 20%
        
      &.contact
        width 30%
        
        .btn
          border-color $alt-text-color
          margin 20px 0 15px
          width 300px
          
        .left-container, .right-container
          float left
          width 50%
          
          div
            margin-top 10px
            
            .fa
              color $alt-text-color
              margin-left 5px
            
        .left-container
          font 400 .8em Roboto
            
        .right-container
          color $alt-text-color
          font 300 .8em Roboto
          margin-top 8px
            
      &.social .subscribe
        margin-top 53px
        
.footer-bottom
  background-color $gray-dark
  color $white
  padding 40px 130px
  font 300 .7em Roboto 
  color $alt-text-color
  
  a
    border-left 1px solid $alt-text-color
    padding-left 15px
    margin-left 15px
