.nav
  background-color $white
  height 50px
  left 0
  line-height 50px
  position fixed
  width 100%
  top 0
  
  .container
    position relative
    text-align center
    
    .logo
      background-color $black
      border-radius 100px
      color $white
      height 50px
      left 50px
      position absolute
      text-align center
      top 5px
      width 50px
      
    .links
      display inline-block
      font-size .8em
      font-weight bold
      margin 0 auto
      text-align center

      .link
        margin 0 20px
        
        &:hover
          color: $brand-primary 
      
    .buy
      right 50px
      top 8px
      position absolute