.post-footer
  background-color $black
  color $white
  .container
    padding 300px 0 150px
    text-align center 
    
    h1
      margin-bottom 5px
    
    .block
      margin-bottom 30px
      
      p
        margin 5px 0 0
    
    .line
      width 50px
      border-bottom 1px solid $white
      margin 0 auto
    
    .contact-label
      color $brand-primary
      margin 20px 0
      
    .contact
      a
        text-transform uppercase
        border-right 1px solid $white
        padding 0 30px

        &:last-child
          border 0